<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" routerLink="/">Firulais</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/" routerLinkActive="active">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/productos" routerLinkActive="active">Productos</a>
        </li>
        <!--li class="nav-item">
          <a class="nav-link" routerLink="/localstorag" routerLinkActive="">LocalStorag</a>
        </li-->
      </ul>
      <ul class="navbar-nav ml-auto">
        <ng-container *ngIf="!authService.loggedIn(); else showLogout">
        <li class="nav-item">
          <a class="nav-link" routerLink="/signin" routerLinkActive="active">SignIn</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/signup" routerLinkActive="active">SignUp</a>
        </li>
        </ng-container>
        <ng-template #showLogout >
          <li class="nav-item">
            <a class="nav-link" routerLink="/private" routerLinkActive="active"><i class="fa fa-th" aria-hidden="true"></i> &nbsp; Más Aplicaciones</a>
          </li>
            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown link
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#">Perfil</a>
              <a class="dropdown-item" routerLink="/private">
                <i class="fa fa-th" aria-hidden="true"></i> &nbsp; Más Aplicaciones</a>
              <div class="dropdown-divider"></div>
                <a class="dropdown-item" style="cursor: pointer" (click)="authService.logout()" >Logout</a>
            </div>
          </li>
        </ng-template>
      </ul>
    </div>
  </div>
</nav>